<div class="row">
  <div class="col-xs-12">

    <form (ngSubmit)="onSubmit()" #form="ngForm">

      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="Name">Name</label>
          <input type="text" id="name" class="form-control" [(ngModel)]="newIngredient.name"
            [ngModelOptions]="{standalone: true}">
        </div>

        <div class="col-sm-2 form-group">
          <label for="quantity">Quantity</label>
          <input type="number" id="quantity" class="form-control" [(ngModel)]="newIngredient.quantity"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success me-1">Add</button>

          <button type="button" class="btn btn-danger me-1">Delete</button>

          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>

    </form>

  </div>
</div>
