<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive max-img-height" alt="{{ selectedRecipe?.title }}" src="{{ selectedRecipe?.image }}">
  </div>
</div>

<div class="row mt-2">
  <div class="col-xs-12">
    <h1>{{ selectedRecipe?.title }}</h1>
  </div>
</div>

<div class="row mt-2">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" appMenuDropdown>Manage Recipe</button>

      <ul class="dropdown-menu">
        <li>
          <a href="#" class="dropdown-item">Add ingredients to shopping list</a>
        </li>
        <li>
          <a href="#" class="dropdown-item">Edit recipe</a>
        </li>
        <li>
          <a href="#" class="dropdown-item">Delete</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-xs-12">
    <p>{{ selectedRecipe?.instructions }}</p>
  </div>
</div>

<div class="row mt-2">
  <div class="col-xs-12" *ngFor="let ingr of selectedRecipe?.extendedIngredients">
    <p>{{ ingr?.name }}</p>
  </div>
</div>
