<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive max-img-height" alt="{{ selectedRecipe?.name }}" src="{{ selectedRecipe?.imagePath }}">
  </div>
</div>

<div class="row mt-2">
  <div class="col-xs-12">
    <h1>{{ selectedRecipe?.name }}</h1>
  </div>
</div>

<div class="row mt-2">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" appMenuDropdown>Manage Recipe</button>

      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" role="button" (click)="addIngredientsToList()">Add ingredients to shopping list</a>
        </li>
        <li>
          <a href="#" class="dropdown-item">Edit recipe</a>
        </li>
        <li>
          <a href="#" class="dropdown-item">Delete</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-xs-12">
    <p>{{ selectedRecipe?.description }}</p>
  </div>
</div>

<div class="row mt-2">
  <div class="col-xs-12">
    <h3>Ingredients:</h3>
  </div>

  <div class="col-xs-12" >
    <ul class="list-group clearfix">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of selectedRecipe?.ingredients">
        {{ item?.name }} - {{ item?.quantity }}
      </li>
    </ul>
  </div>
</div>
